body {
  background: rgb(185, 150, 230);
}

.App {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.count {
  font-size: 2rem;
  width: 20vw;
  height: 8vh;
  border-radius: 15px;
  margin: 35% auto;
}